In [ ]:
######### for this program to give accurate results, combined_df has to be run again if any code/name changes are there or
########## including any additions
########## companymaster has to be uptodate
######### shortlisted stocks - averages for nse/bse has to be updated
######## market cap from screener has to be updated

In [1]:
# importing the required modules

import os
import csv
import pandas as pd
from pathlib import Path
from reportlab.lib.pagesizes import letter
from reportlab.platypus import SimpleDocTemplate, Table, Paragraph, PageBreak
from reportlab.lib import colors
from reportlab.lib.styles import getSampleStyleSheet, TA_LEFT

from platform import python_version
python_version()

'3.9.16'

In [2]:
### this program gives top 50 deliveries by value and volume for fno and non-fno. 
#### it also creates fno_csv and non_fno_csv which is used by multiple scrips program

### caution - if data file is already read, then it skips reading it. So if data is updated, close the program and restart it
#### to enable data file to be read again

In [3]:
base_folder = Path.cwd()
base_folder

WindowsPath('c:/Users/birap/OneDrive/Desktop/Tradeview/tradingView/Python code for chatGpt')

In [4]:
# list of file paths

master_file_path = Path.joinpath(base_folder, "Master File", "CompanyMaster.csv")
directory = Path.joinpath(Path(base_folder).parents[0], "Data Files")
output_path = Path.joinpath(base_folder, "Output File")
combined_file_path = Path.joinpath(Path(base_folder).parents[0], "Delivery Price Combined Files")
reports_path = Path.joinpath(base_folder,"PDF Reports")

column_order = ['NSE_Code','BSE_Code','Date','NSE_Delivery','BSE_Delivery']
print(reports_path)

c:\Users\birap\OneDrive\Desktop\Tradeview\tradingView\Python code for chatGpt\PDF Reports

In [5]:
file_names = ['BSE Gross Deliverable.txt', 'NSE Delivery.csv', 'NSE EQ.csv', 'EQ ISIN.csv']

while True:
    user_input = input("Enter a date in the 'yymmdd' format (or press Enter to exit): ")

    # Check if the user pressed Enter with an empty input
    if not user_input:
        print("Exiting the program.")
        break

    # Check if the input has 6 characters and consists of digits
    if len(user_input) == 6 and user_input.isdigit():
        all_files_exist = True
        updated_file_names = []

        for file_name in file_names:
            name, extension = file_name.split(".")
            print(name, extension)
            full_file_name = os.path.join(directory, f"{name} {user_input}.{extension}")
            file_name_date = f"{name} {user_input}.{extension}"
            print(f"full file name : {full_file_name} and file_name_date : {file_name_date}")
            if not os.path.exists(full_file_name):
                print()
                all_files_exist = False
                break
            updated_file_names.append(file_name_date)

        if all_files_exist:
            print(f"All required files for the date '{user_input}' exist.")
            # You can use the updated_file_names list for further processing
            print("Updated file names:", updated_file_names)
            break  # Exit the loop if all files exist
        else:
            print("Not all required files exist. Please check the files.")
    else:
        print("Invalid input. Please enter a date in the 'yymmdd' format (e.g., 220101).")

BSE Gross Deliverable txt
full file name : c:\Users\birap\OneDrive\Desktop\Tradeview\tradingView\Data Files\BSE Gross Deliverable 230210.txt and file_name_date : BSE Gross Deliverable 230210.txt
NSE Delivery csv
full file name : c:\Users\birap\OneDrive\Desktop\Tradeview\tradingView\Data Files\NSE Delivery 230210.csv and file_name_date : NSE Delivery 230210.csv
NSE EQ csv
full file name : c:\Users\birap\OneDrive\Desktop\Tradeview\tradingView\Data Files\NSE EQ 230210.csv and file_name_date : NSE EQ 230210.csv
EQ ISIN csv
full file name : c:\Users\birap\OneDrive\Desktop\Tradeview\tradingView\Data Files\EQ ISIN 230210.csv and file_name_date : EQ ISIN 230210.csv
All required files for the date '230210' exist.
Updated file names: ['BSE Gross Deliverable 230210.txt', 'NSE Delivery 230210.csv', 'NSE EQ 230210.csv', 'EQ ISIN 230210.csv']

In [6]:
nse_dely_file = [updated_file_names[1]]
nse_price_file = [updated_file_names[2]]
bse_dely_file = [updated_file_names[0]]
bse_price_file = [updated_file_names[3]]
print(nse_dely_file,nse_price_file,bse_dely_file,bse_price_file)

['NSE Delivery 230210.csv'] ['NSE EQ 230210.csv'] ['BSE Gross Deliverable 230210.txt'] ['EQ ISIN 230210.csv']

In [7]:
def nse_data(nse_file_name):
    nse_df = pd.DataFrame(columns=['NSE_Code','Date','NSE_Volume','NSE_Delivery','Segment'])
    dely_segment = ['EQ','BE','SM','ST']
    
    for file_name in nse_file_name:
        file_path = os.path.join(directory, file_name)
        date = file_name[13:19]
        
        with open(file_path,'r') as file:
            reader = csv.reader(file)
            for i, line in enumerate(reader, start=1):
                if i >= 5:
                    line_str = ','.join(line)
                    data = line_str.split(',')
                    if data[3] in dely_segment:
                        nse_code = data[2]
                        dely = data[5]
                        segment = data[3]
                        volume = data[4]
                        df_to_append = pd.DataFrame({'NSE_Code': [nse_code], 'Date': [date], 'NSE_Volume':volume,
                                                     'NSE_Delivery': [dely], 'Segment': [segment]})
                        nse_df = pd.concat([nse_df, df_to_append], ignore_index=True)
    return nse_df
                
 
def bse_data(bse_file_name):
    # Create an empty DataFrame to store the results
    bse_df = pd.DataFrame(columns=['BSE_Code', 'Date','BSE_Delivery'])
    dely_segment = ['EQ','BE','SM','ST']

    for file_name in bse_file_name:
        file_path = os.path.join(directory, file_name)
        date = file_name[22:28] 
    
        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for i, line in enumerate(reader, start=1):
                if i >= 2:  # Start reading from line 5
                    line_str = ','.join(line)
                    data = line_str.split('|')
                    dely = data[2]
                    bse_code = data[1]
                    df_to_append = pd.DataFrame({'BSE_Code': [bse_code], 'Date': [date], 'BSE_Delivery':[dely]}) 
                    bse_df = pd.concat([bse_df,df_to_append], ignore_index=True)               
    return bse_df

In [8]:
def nse_price(nse_price_file):
    nse_df = pd.DataFrame(columns=['NSE_Code', 'Date', 'Price', 'PrevClose', 'Segment', 'Traded'])
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in nse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[7:13]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for row in reader:
                if row and row[1] in dely_segment:  # Check if the row is not empty and segment matches
                    nse_code = row[0]
                    price = row[5]
                    prev_close = row[7]
                    segment = row[1]
                    traded = row[8]
                    df_to_append = pd.DataFrame({'NSE_Code': [nse_code], 'Date': [date], 'Price': [price], 
                                                 'PrevClose': [prev_close],'Segment': [segment], 'Traded': [traded]})
                    nse_df = pd.concat([nse_df, df_to_append], ignore_index=True)
    return nse_df

def bse_price(bse_price_file):
    bse_df = pd.DataFrame(columns=['BSE_Code', 'Date', 'Price', 'PrevClose', 'BSE_Volume','Segment'])
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in bse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[8:14]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for row in reader:
                #if row and row[1] in dely_segment:  # Check if the row is not empty and segment matches
                    bse_code = row[0]
                    price = row[7]
                    prev_close = row[9]
                    bse_group = row[2]
                    volume = row[11]
                    df_to_append = pd.DataFrame(
                                {'BSE_Code': [bse_code], 
                                'Date': [date], 
                                'Price': [price], 
                                'PrevClose': [prev_close],
                                'BSE_Volume':volume ,
                                'Segment': [bse_group]}
                             )
                    bse_df = pd.concat([bse_df, df_to_append], ignore_index=True)

    # Drop the first row, which is a header row, and reset the index
    bse_df = bse_df.iloc[1:].reset_index(drop=True)
    return bse_df

In [9]:
def add_nse_prefix(df, column_name):
    """Create a copy of the DataFrame to avoid SettingWithCopyWarning"""
    df = df.copy()

    # Add "NSE:" prefix to the specified column
    df.loc[:, column_name] = "NSE:" + df[column_name].astype(str)
    return df

In [10]:
### getting unique symbols from fno
nse_fno_file = sorted([file for file in os.listdir(directory) if file.startswith('NSE FNO')],reverse=True)[:1]

for file_name in nse_fno_file:
    file_path = os.path.join(directory, file_name)
    fno_df = pd.read_csv(file_path)
    fno_df = fno_df.drop_duplicates(subset ='SYMBOL')
    fno_symbols = fno_df['SYMBOL']
    fno_symbols = fno_symbols.reset_index(drop=True)

In [11]:
print('processing nse_dely')
nse_dely_data = nse_data(nse_dely_file)

print('processing bse_dely')
bse_dely_data = bse_data(bse_dely_file)

print('processing nse_price')
nse_price_data = nse_price(nse_price_file)

print('processing bse_price')
bse_price_data = bse_price(bse_price_file)

print('all done, proceed')

processing nse_dely
processing bse_dely
processing nse_price
processing bse_price
all done, proceed

In [12]:
nse_dely_data['NSE_Delivery'] = nse_dely_data['NSE_Delivery'].astype(int)
nse_dely_data['NSE_Volume'] = nse_dely_data['NSE_Volume'].astype(int)
nse_price_data['Price'] = nse_price_data['Price'].astype(float)
nse_price_data['PrevClose'] = nse_price_data['PrevClose'].astype(float)
nse_price_data['Traded'] = nse_price_data['Traded'].astype(int)

bse_dely_data['BSE_Delivery'] = bse_dely_data['BSE_Delivery'].astype(int)
bse_price_data['Price'] = bse_price_data['Price'].astype(float)
bse_price_data['PrevClose'] = bse_price_data['PrevClose'].astype(float)
bse_price_data['BSE_Volume'] = bse_price_data['BSE_Volume'].astype(int)

In [73]:
# nse_dely_data.info()
# bse_dely_data.info()
# nse_price_data.info()
# bse_price_data.info()

In [74]:
### nse_dely_data has NSE_Code, Date, NSE_Delivery, Segment
### bse_dely_data has BSE_Code, Date, BSE_Delivery

### nse_price_data has NSE_Code	Date	Price	PrevClose	Segment	Traded
### bse_price_data has BSE_Code	Date	Price	PrevClose	Segment

In [13]:
## this section processes nse delivery and price file. Makes sure that stocks which are in BE segment and 
## therefore dont appear in nse delivery are taken from price file and new nse merged df is generated

### merging nse price and delivery files
nse_merged_df_out = pd.merge(nse_dely_data,nse_price_data, on = 'NSE_Code', how = 'outer')

### processing merged file
# Replace 'NSE_Delivery' with 'Traded' where 'NSE_Delivery' is NaN
nse_merged_df_out['NSE_Delivery'] = nse_merged_df_out['NSE_Delivery'].fillna(nse_merged_df_out['Traded'])

# Replace nse volume with nse delivery where nse volume is NaN
nse_merged_df_out['NSE_Volume'] = nse_merged_df_out['NSE_Volume'].fillna(nse_merged_df_out['NSE_Delivery'])

# Replace 'Date_x' with 'Date_y' where 'Date_x' is NaN
nse_merged_df_out['Date_x'] = nse_merged_df_out['Date_x'].fillna(nse_merged_df_out['Date_y'])

# Replace 'Segment_x' with 'Segment_y' where 'Segment_x' is NaN
nse_merged_df_out['Segment_x'] = nse_merged_df_out['Segment_x'].fillna(nse_merged_df_out['Segment_y'])

# Rename 'Segment_x' to 'Segment'
nse_merged_df_out.rename(columns={'Segment_x': 'Segment'}, inplace=True)

# Rename 'Date_x' to 'Date'
nse_merged_df_out.rename(columns={'Date_x': 'Date'}, inplace=True)

# Drop the 'Date_y' column
nse_merged_df_out.drop(columns=['Date_y'], inplace=True)

# Drop the 'Segment_y' column
nse_merged_df_out.drop(columns=['Segment_y'], inplace=True)

# Delete the 'Traded' column after replacement
nse_merged_df_out.drop(columns=['Traded'], inplace=True)

# Reset the index
nse_merged_df_out.reset_index(drop=True, inplace=True)

# add traded_value column

nse_merged_df_out['Traded_Value_lacs'] = (nse_merged_df_out['NSE_Delivery'] * nse_merged_df_out['Price'] / 100000).round(2)

#print(nse_merged_df_out)

nse_col_order = ['Date','NSE_Code','NSE_Volume','NSE_Delivery','Price','PrevClose','Traded_Value_lacs','Segment']
nse_merged_df_out = nse_merged_df_out[nse_col_order]

#### nse_merged_df_out is NSE_Code	Date	NSE_Delivery	Segment	Price	PrevClose	Traded_Value_lacs

In [14]:
nse_merged_df_out.head()

,Date,NSE_Code,NSE_Volume,NSE_Delivery,Price,PrevClose,Traded_Value_lacs,Segment
0,230210,20MICRONS,50165.0,29558.0,76.55,77.35,22.63,EQ
1,230210,21STCENMGM,6132.0,3820.0,20.35,20.75,0.78,EQ
2,230210,360ONE,30977.0,17560.0,1856.95,1824.65,326.08,EQ
3,230210,3IINFOLTD,180288.0,129094.0,36.70,36.95,47.38,EQ
4,230210,3MINDIA,2825.0,1235.0,23420.35,23528.35,289.24,EQ

In [15]:
###merging bse price and delivery files

bse_merged_df_out = pd.merge(bse_dely_data, bse_price_data, on = 'BSE_Code', how = 'outer')


### processing bse merged file

bse_merged_df_out['Traded_Value_lacs'] = (bse_merged_df_out['BSE_Delivery'] * bse_merged_df_out['Price'] / 100000).round(2)

# Rename 'Date_x' to 'Date'
bse_merged_df_out.rename(columns={'Date_x': 'Date'}, inplace=True)

# Drop the 'Date_y' column
bse_merged_df_out.drop(columns=['Date_y'], inplace=True)
bse_merged_df_out = bse_merged_df_out[bse_merged_df_out['BSE_Code'] <= '599999']

bse_merged_df_out.reset_index(drop=True, inplace = True)

#print(bse_merged_df_out)

bse_col_order = ['Date','BSE_Code','BSE_Volume','BSE_Delivery','Price','PrevClose','Traded_Value_lacs','Segment']
bse_merged_df_out = bse_merged_df_out[bse_col_order]

#### bse_merged_df_out is BSE_Code	Date	BSE_Delivery	Price	PrevClose	Segment	Traded_Value_lacs

In [16]:
### saving nse and bse files separately

nse_file = str(combined_file_path) +"\\"+ 'nse_' + user_input + '.csv'
bse_file = str(combined_file_path) + "\\"+'bse_' + user_input + '.csv'

#df.to_csv('sample.csv', index=False)

nse_merged_df_out.to_csv(nse_file, index = False)
bse_merged_df_out.to_csv(bse_file, index = False)

In [79]:
#nse_merged_df_out.info()
#nse_merged_df_out

In [80]:
#bse_merged_df_out.info()
#bse_merged_df_out

In [17]:
## reading master file
### master file (csv) is Company Name	CD_NSE Symbol	CD_BSE Code	CD_Is Subsidiary	CD_Sector	CD_Industry1

#### TO FIX - MASTER FILE DOES NOT HAVE SM SEGMENT CODES

master_file = pd.read_csv(master_file_path, dtype={'CD_BSE Code': str})


###df.rename(columns={'old_column_name': 'new_column_name'}, inplace=True)
##df.rename(columns={'old_column_name': 'new_column_name'}, inplace=True)
### Inplace method (modifies the original DataFrame)
###df.drop(columns=['column1', 'column2'], inplace=True)

master_file.drop(columns=['CD_Is Subsidiary','CD_Sector','CD_Industry1'], inplace = True )
master_file.rename(columns={'CD_NSE Symbol': 'NSE_Code', 'CD_BSE Code': 'BSE_Code'}, inplace= True )


#### master_file df is Company Name	NSE_Code	BSE_Code

#print(master_file)

In [18]:
## Merge NSE df with master file 

master_file = pd.merge(master_file,nse_merged_df_out, on= "NSE_Code", how = 'outer')
#master_file.dropna(subset=['Company Name'], inplace=True)


## merge bse df  with master file 
master_file = pd.merge(master_file,bse_merged_df_out, on ="BSE_Code", how = "outer")
#master_file.dropna(subset=['Company Name'], inplace=True)

# Drop records where both 'NSE_Code' and 'BSE_Code' are NaN or blank
master_file.dropna(subset=['NSE_Code', 'BSE_Code'], how='all', inplace=True)

# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)

# Drop records where both 'NSE_Delivery' and 'BSE_Delivery' are 0 or blank or NaN
master_file = master_file[~((master_file['NSE_Delivery'] == 0) & (master_file['BSE_Delivery'] == 0))]

# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)


# Trim "Company Name" column to a maximum length of 20 characters
master_file['Company Name'] = master_file['Company Name'].str.slice(0, 30)


# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)

#print(master_file)

In [19]:

# Identify the data types of each column
column_data_types = master_file.dtypes

# Replace NaN values in object columns with empty strings ("")
object_columns = master_file.select_dtypes(include='object').columns
master_file[object_columns] = master_file[object_columns].fillna("")

# Replace NaN values in float/integer columns with 0
numeric_columns = master_file.select_dtypes(include=['float64', 'int64']).columns
master_file[numeric_columns] = master_file[numeric_columns].fillna(0)

# Print the resulting DataFrame
#print(master_file)

#master_file.info()

In [20]:
# Define a custom function to replace Price_x with Price_y if Price_x is 0
def replace_price_x(row):
    if row['Price_x'] == 0:
        return row['Price_y']
    else:
        return row['Price_x']

    
def replace_prevclose_x(row):
    if row['PrevClose_x'] == 0:
        return row['PrevClose_y']
    else:
        return row['PrevClose_x']
    
    
def replace_segment(row):
    if row['Segment_x'] == "":
        return row['Segment_y']
    else:
        return row['Segment_x']
    
def replace_date(row):
    if row['Date_x'] == "":
        return row['Date_y']
    else:
        return row['Date_x']

# Apply the custom function to the DataFrame
master_file['Price_x'] = master_file.apply(replace_price_x, axis=1)
master_file['PrevClose_x'] = master_file.apply(replace_prevclose_x, axis=1)

# Rename 'Price_x' column to 'Price'
master_file.rename(columns={'Price_x': 'Price'}, inplace=True)
master_file.rename(columns={'PrevClose_x':'PrevClose'}, inplace=True)

### segment

master_file['Segment_x'] = master_file.apply(replace_segment, axis = 1)
master_file.rename(columns={'Segment_x' :'Segment'}, inplace = True)

#Date
master_file['Date_x'] = master_file.apply(replace_date, axis = 1)
master_file.rename(columns={'Date_x' :'Date'}, inplace = True)

### add total delivery column
master_file['Total_Delivery'] = master_file['NSE_Delivery'] + master_file['BSE_Delivery']
master_file['Total_Delivery'] = master_file['Total_Delivery'].astype(int)
master_file = master_file[master_file['Total_Delivery'] >= 1]

### add total volume column
master_file['Total_Volume'] = master_file['NSE_Volume'] + master_file['BSE_Volume']
master_file['Total_Volume'] = master_file['Total_Volume'].astype(int)


## add total traded value colum

master_file['Total_Traded_Value'] = ( master_file['Total_Delivery'] * master_file['Price'] ) / 100000



### reorder columns

columns_to_copy = ['Date','Company Name','Total_Volume','Total_Delivery', 'Price','PrevClose','Total_Traded_Value' ,'NSE_Code','BSE_Code','Segment']

# Create a new DataFrame 'final_master_file' with the desired columns
#final_master_file = master_file[columns_to_copy].copy()

In [85]:
#master_file

In [21]:

master_file_columns = ['Date','Company Name','NSE_Code','BSE_Code','Total_Volume','Total_Delivery', 'Price','PrevClose',
                       'Total_Traded_Value' , 'NSE_Volume','NSE_Delivery','BSE_Volume','BSE_Delivery','Segment']
final_master_file = master_file[master_file_columns]
master_file_csv = str(combined_file_path) + "\\"+'combined_' + user_input + '.csv'

#df.to_csv('sample.csv', index=False)

final_master_file.to_csv(master_file_csv, index = False)

In [22]:
#### create sme file
sme_segment = ['SM','ST','M ','MT']
sme_delivery = final_master_file[final_master_file['Segment'].isin(sme_segment)]
sme_delivery.loc[sme_delivery['NSE_Code'] == '', 'NSE_Code'] = sme_delivery['BSE_Code']
sme_delivery.reset_index(drop=True, inplace=True)

# Drop records where Total_Traded_Value is below 1000
final_master_file = final_master_file[final_master_file['Total_Traded_Value'] >= 1000]

In [23]:
###creating separate file for fno delivery and non fno delivery

# Filter final_master_file to get fno_delivery by checking if NSE_Code is in fno_symbols
fno_delivery = final_master_file[final_master_file['NSE_Code'].isin(fno_symbols)]
fno_delivery_final = fno_delivery[['NSE_Code', 'NSE_Volume','Total_Delivery', 'Price','PrevClose', 
                                   'Total_Traded_Value']].copy()


# Create non_fno_delivery by dropping rows where NSE_Code is in fno_symbols
non_fno_delivery = final_master_file[~final_master_file['NSE_Code'].isin(fno_symbols)]

# Reset index inplace for fno_delivery and non_fno_delivery
fno_delivery_final.reset_index(drop=True, inplace=True)
non_fno_delivery.reset_index(drop=True, inplace=True)

# Replace empty strings in NSE_Code with BSE_Code
#non_fno_delivery.loc[non_fno_delivery['NSE_Code'] == '', 'NSE_Code'] = non_fno_delivery['BSE_Code']


# Replace empty strings in NSE_Code with BSE_Code using a copy
non_fno_delivery_copy = non_fno_delivery.copy()
non_fno_delivery_copy.loc[non_fno_delivery_copy['NSE_Code'] == '', 'NSE_Code'] = non_fno_delivery_copy['BSE_Code']

In [89]:
# Replace empty strings in NSE_Code with BSE_Code
#non_fno_delivery['NSE_Code'] = non_fno_delivery.apply(lambda row: row['BSE_Code'] if row['NSE_Code'] == "" else row['NSE_Code'], axis=1)

#non_fno_delivery.loc[non_fno_delivery['NSE_Code'] == '', 'NSE_Code'] = non_fno_delivery['BSE_Code']


#sme_delivery
#non_fno_delivery

In [24]:
segment_var = ['SM','ST','M ']
#final_master_file.info()
 ##Count the records in each segment
segment_counts = master_file['Segment'].value_counts()

#print(segment_counts)

In [25]:
nse_dely_date = user_input
### creating top 50 by value and by volume for fno and non-fno

def top_n(df, n, column_name, trade_amt):
    df_filtered = df[df['Total_Traded_Value'] > trade_amt]
    top_n = df_filtered.nlargest(n, column_name).sort_values(column_name, ascending=False)
    
    # Format and right-align specific columns
    columns_to_format = ['Total_Delivery', 'Price', 'PrevClose', 'Total_Traded_Value']
    column_widths = {'Total_Delivery': 15, 'Price': 12, 'PrevClose': 12, 'Total_Traded_Value': 18}

    for col in columns_to_format:
        if col == 'Total_Delivery':
            top_n[col] = top_n[col].apply(lambda x: f"{int(x):,}".rjust(column_widths[col]))
        else:
            top_n[col] = top_n[col].apply(lambda x: f"{x:,.2f}".rjust(column_widths[col]))

    return top_n



df_value_50 = top_n(non_fno_delivery,50,'Total_Traded_Value', 250)
df_volume_50 = top_n(non_fno_delivery,50,'Total_Delivery', 250)

fno_value_50 = top_n(fno_delivery,50,'Total_Traded_Value', 1000)
fno_volume_50 = top_n(fno_delivery,50,'Total_Delivery', 1000)

fno_columns = ['NSE_Code', 'Total_Delivery','Price','PrevClose','Total_Traded_Value']

fno_value_50 = fno_value_50[fno_columns]
fno_volume_50 = fno_volume_50[fno_columns]

sme_value_50 = top_n(sme_delivery,50,'Total_Traded_Value', 50)

###########################

###########################

## write to excel -- non_fno value and volume is merged by concat and saved for multiple scrips report (7-day history)
#### sme_csv is similarly saved for 7-day history report

df_non_fno = pd.concat([df_value_50, df_volume_50])
df_non_fno_date = df_non_fno
df_non_fno_wl = df_non_fno[['NSE_Code']]

df_fno = pd.concat([fno_value_50, fno_volume_50])

# Reset the index of the series
df_non_fno_wl.reset_index(drop=True, inplace=True)

#add NSE: prefix to NSE_Code
df_non_fno_wl_nse = add_nse_prefix(df_non_fno_wl,'NSE_Code')


### define csv files
output_non_fno = str(output_path) +'\\'+"0_non_fno.csv"
output_non_fno_date = str(output_path) + "\\"+nse_dely_date + "_0_non_fno_.csv"
output_non_fno_wl = str(output_path) + "\\"+ '_' + nse_dely_date +"_0_non_fno_wl.csv"


output_fno = str(output_path) + "\\"+ "fno.csv"

output_sme_nodate = str(output_path)+ "\\" + 'sme_csv.csv'
output_sme = str(output_path)+ "\\" + nse_dely_date + '_0_sme_.csv'

### write to csv
df_non_fno.to_csv(output_non_fno, index = False)
df_non_fno.to_csv(output_non_fno_date, index = False)
df_non_fno_wl_nse.to_csv(output_non_fno_wl, index = False)

df_fno.to_csv(output_fno, index = False)

sme_delivery.to_csv(output_sme, index=False)
sme_value_50.to_csv(output_sme_nodate)

In [34]:
def fno_formatted_rows(df, columns_to_select):
    # Iterate over the DataFrame and print each row
    for i, (_, row) in enumerate(df.iterrows(), 1):
        p_coname = str(row[columns_to_select[0]]).ljust(40)

        # Handle 'Total_Delivery' column (index 1)
        total_delivery = row[columns_to_select[1]]
        if isinstance(total_delivery, (int, float)):
            p_dely = f"{total_delivery:,.0f}"
        elif isinstance(total_delivery, str) and total_delivery.replace(',', '').isdigit():
            p_dely = f"{float(total_delivery):,.0f}"
        else:
            p_dely = str(total_delivery)

        # Clean the 'Price' column before converting to float
        price_str = ''.join(char for char in row[columns_to_select[2]] if char.isdigit() or char == '.')
        p_price = f"{float(price_str.replace(',', '')):,.2f}".rjust(12)

        # Clean the 'PrevClose' column before converting to float
        prevclose_str = ''.join(char for char in row[columns_to_select[3]] if char.isdigit() or char == '.')
        p_prevclose = f"{float(prevclose_str.replace(',', '')):,.2f}".rjust(12)

        # Clean the 'Total_Traded_Value' column before converting to float
        trade_value_str = ''.join(char for char in row[columns_to_select[4]] if char.isdigit() or char == '.')
        p_trade_value = f"{float(trade_value_str.replace(',', '')):,.2f}".rjust(18)

        

        print(f"{p_coname}{p_dely}{p_price}{p_prevclose}{p_trade_value}    ")

        # Check if the current row index is a multiple of 5, and insert a blank line
        if i % 5 == 0:
            print()

def print_formatted_rows(df, columns_to_select):
    # Iterate over the DataFrame and print each row
    for i, (_, row) in enumerate(df.iterrows(), 1):
        p_coname = str(row[columns_to_select[0]]).ljust(40)
        
        # Handle 'Total_Delivery' column (index 1)
        total_delivery = row[columns_to_select[1]]
        if isinstance(total_delivery, (int, float)):
            p_dely = f"{total_delivery:,.0f}"
        elif isinstance(total_delivery, str) and total_delivery.replace(',', '').isdigit():
            p_dely = f"{float(total_delivery):,.0f}"
        else:
            p_dely = str(total_delivery)

        # Clean the 'Price' column before converting to float
        price_str = ''.join(char for char in row[columns_to_select[2]] if char.isdigit() or char == '.')
        p_price = f"{float(price_str.replace(',', '')):,.2f}".rjust(12)

        # Clean the 'PrevClose' column before converting to float
        prevclose_str = ''.join(char for char in row[columns_to_select[3]] if char.isdigit() or char == '.')
        p_prevclose = f"{float(prevclose_str.replace(',', '')):,.2f}".rjust(12)

        # Clean the 'Total_Traded_Value' column before converting to float
        trade_value_str = ''.join(char for char in row[columns_to_select[4]] if char.isdigit() or char == '.')
        p_trade_value = f"{float(trade_value_str.replace(',', '')):,.2f}".rjust(18)

        p_nse_code = str(row[columns_to_select[5]]).ljust(10)

        print(f"{p_coname}{p_dely}{p_price}{p_prevclose}{p_trade_value}    {p_nse_code}")

        # Check if the current row index is a multiple of 5, and insert a blank line
        if i % 5 == 0:
            print()

In [31]:
report_prefix_name = f"{user_input}_0_Top 50 deliveries_value_volume_non_fno_fno_sme.pdf"
pdf_name = os.path.join(reports_path,report_prefix_name)
print(pdf_name)

c:\Users\birap\OneDrive\Desktop\Tradeview\tradingView\Python code for chatGpt\PDF Reports\230210_0_Top 50 deliveries_value_volume_non_fno_fno_sme.pdf

In [44]:
import os
from reportlab.lib.pagesizes import A4
from reportlab.platypus import SimpleDocTemplate, Table, PageBreak
from reportlab.lib import colors
from reportlab.lib.styles import getSampleStyleSheet
from reportlab.platypus import Paragraph
from reportlab.pdfbase.pdfmetrics import registerFontFamily

columns_to_select = ['Company Name', 'Total_Delivery', 'Price', 'PrevClose', 'Total_Traded_Value', 'NSE_Code']
fno_columns_to_select = ['NSE_Code', 'Total_Delivery', 'Price', 'PrevClose', 'Total_Traded_Value']
dfs = [df_value_50, df_volume_50, fno_value_50, fno_volume_50, sme_value_50]
report_titles = [
    f"Top 50 delivery by value NON-FNO {user_input}",
    f"Top 50 delivery by volume NON-FNO {user_input}",
    f"Top 50 FNO Delivery by value {user_input}",
    f"Top 50 FNO Delivery by volume {user_input}",
    f"Top 50 SME delivery by value {user_input}"
]

report_prefix_name = f"{user_input}_0_Top 50 deliveries_value_volume_non_fno_fno_sme.pdf"
report_path = os.path.join(reports_path,report_prefix_name)

def create_table_with_header(df, df_name, add_column_names=False, table_width=None):
    """create a table with header and data"""
    table_data = [df.columns.tolist()] + df.values.tolist()

    # Add empty rows for spacing after every 5 records
    for i in range(6, len(table_data), 6):
        table_data.insert(i, [''] * len(df.columns))
        
    styles = getSampleStyleSheet()
    h2_style = styles['Normal']
    h2_style.fontSize = 9
    h2_style.fontName = 'Calibri'

    if table_width is None:
        t = Table(table_data, repeatRows=1, style=h2_style)
    else:
        colwdth = [160, 80, 67, 68, 105]
        t = Table(table_data, repeatRows=1, colWidths=colwdth)  # Adjust colWidths for left alignment

    style = [
        ('ALIGN', (0, 0), (0, -1), 'LEFT'),  # Left align first column
        ('ALIGN', (-1, 0), (-1, -1), 'LEFT'),  # Left align last column
        ('ALIGN', (1, 0), (-2, -1), 'RIGHT'),  # Right align other columns
        ('FONTSIZE', (1, 1), (-1, -1), 9),
    ]

    # repeatRows=1 to add the first column to all the pages
    t.setStyle(column_header_style)

    if "FNO" in str(df_name) and "NON-FNO" not in str(df_name):
        style = [
            ('ALIGN', (-1, 0), (-1, -1), 'LEFT'),  # Left align first column
            ('ALIGN', (1, 0), (-1, -1), 'RIGHT'),  # Right align other columns (including last)
        ]

    # Set title row color for the first page
    if getattr(create_table_with_header, 'first_page', True):
        style.extend([
            ('BACKGROUND', (0, 0), (-1, 0), colors.lightgrey),  # Background color for the title row
            ('TEXTCOLOR', (0, 0), (-1, 0), colors.black),
        ])
        create_table_with_header.first_page = False

    t.setStyle(style)

    # Remove table borders
    t.setStyle([('LINEBELOW', (0, 0), (-1, 0), 0, colors.white),  # Hide line below header
                ('GRID', (0, 0), (-1, -1), 0, colors.white)])  # Hide grid lines

    return t


def add_headers_and_footers(canvas, doc):
    """Add header and footer here"""
    page_num = canvas.getPageNumber()
    text = f"Page {page_num}"
    footer_style = getSampleStyleSheet()['Normal']
    footer_style.alignment = 1  # 0=Left, 1=Center, 2=Right

    footer = Paragraph(text, footer_style)
    w, h = footer.wrap(doc.width, doc.bottomMargin)
    footer.drawOn(canvas, doc.leftMargin, doc.bottomMargin - h)

    # Change title text color to white for pages after the first one
    if page_num > 1:
        title_style = getSampleStyleSheet()['Title']
        title_style.textColor = colors.white
        main_title.style = title_style


def generate_report(dfs, report_titles, columns_to_select, fno_columns_to_select, user_input, reports_path):
    registerFontFamily('Calibri', normal='Calibri', bold='CalibriBd', italic='CalibriIt', boldItalic='CalibriBI')

    # Define the style for column headers without grid lines
    global column_header_style
    column_header_style = [
        ('BACKGROUND', (0, 0), (-1, 0), colors.lightgrey),
        ('TEXTCOLOR', (0, 0), (-1, 0), colors.black),
        ('ALIGN', (0, 0), (-1, -1), 'LEFT'),
    ]

    left_margin = 30
    right_margin = 30
    top_margin = 5
    bottom_margin = 35  # Add a bottom margin
    page_width = A4[0]  # Get width from letter page size
    page_height = A4[1] - top_margin - bottom_margin  # Adjust height for margins

    # Create a SimpleDocTemplate with adjusted page size and margins
    doc = SimpleDocTemplate(
        os.path.join(reports_path, f"{user_input}_0_Top_50_deliveries_value_volume_non_fno_fno_sme.pdf"),
        pagesize=(page_width, page_height),
        leftMargin=left_margin,
        rightMargin=right_margin,
        topMargin=top_margin,
        bottomMargin=bottom_margin
    )

    # Create a list to hold all elements
    elements = []
    main_title = Paragraph("Top 50 deliveries by value/volume non-FnO FnO and SME", getSampleStyleSheet()['Title'])
    elements.extend([main_title])

    # Iterate through your dataframes and add tables to the content frame
    for i, df in enumerate(dfs):
        df.name = report_titles[i]
        df_name = df.name
        if i == 2 or i == 3:
            dfs[i] = df[fno_columns_to_select]
        else:
            dfs[i] = df[columns_to_select]

        styles = getSampleStyleSheet()
        h2_style = styles['Title']
        h2_style.fontSize = 10
        title = Paragraph(report_titles[i], style=h2_style)
        table_width = doc.width - doc.leftMargin - doc.rightMargin
        table = create_table_with_header(dfs[i], add_column_names=True, table_width=table_width, df_name=df_name)

        # Add elements for title and table
        records_per_page = 30
        chunks = [dfs[i][j:j + records_per_page] for j in range(0, len(dfs[i]), records_per_page)]
        for chunk in chunks:
            elements.extend([title, create_table_with_header(chunk, add_column_names=True, table_width=table_width, df_name=df_name), PageBreak()])

    # Assign the function to be called for each page
    doc.build(elements, onFirstPage=add_headers_and_footers, onLaterPages=add_headers_and_footers)

generate_report(dfs, report_titles, columns_to_select, fno_columns_to_select, user_input, reports_path)

In [35]:
##columns selection for printing
columns_to_select = ['Company Name', 'Total_Delivery', 'Price','PrevClose', 'Total_Traded_Value', 'NSE_Code']
col_length = [40,15,12,18,10]
fno_columns_to_select = ['NSE_Code', 'Total_Delivery', 'Price','PrevClose', 'Total_Traded_Value']



print("Top 50 deliveries by value/volume non-FnO FnO and SME ", nse_dely_date)
print("")
print("")
#print(nse_dely_date)
#print()
print("                          Top 50 delivery by value NON FNO ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")
print_formatted_rows(df_value_50,columns_to_select)
print("")
print("")
print("")


print("                        Top 50 delivery by volume NON FNO ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")

print_formatted_rows(df_volume_50,columns_to_select)
print("")
print("")
print("")


#### printing for fno
print("          Top 50 FNO Delivery by value ", nse_dely_date)
print("")
print("NSECode       ",'  Dely_Qty','      Price','   PrevClose','    Value' )
print("")
fno_formatted_rows(fno_value_50,fno_columns_to_select)
print("")
print("")
print("")

print("             Top 50 FNO Delivery by volume ", nse_dely_date)
print("")
print("NSECode       ",'  Dely_Qty','      Price','   PrevClose','   Value' )
print("")

fno_formatted_rows(fno_volume_50,fno_columns_to_select)
print("")
print("")
print("")


print("                          Top 50 delivery by value SME ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")
print_formatted_rows(sme_value_50,columns_to_select)
print("")
print("")
print("")

Top 50 deliveries by value/volume non-FnO FnO and SME  230210


                          Top 50 delivery by value NON FNO  230210

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

One97 Communications Ltd.                    24,141,980      650.55      705.95        157,055.65    PAYTM
                                              1,085,609    2,688.70    2,673.25         29,188.77    HDFC
Zomato Ltd.                                  30,282,280       53.30       54.40         16,140.46    ZOMATO
CG Power and Industrial Soluti                3,659,616      327.85      311.45         11,998.05    CGPOWER
Adani Wilmar Ltd.                             2,672,148      435.90      439.70         11,647.89    AWL

PB Fintech Ltd.                               2,167,048      525.90      510.30         11,396.51    POLICYBZR
FSN E-Commerce Ventures Ltd.                  7,229,478      154.70      151.85         11,184.00    NYKAA
                                              1,009,932    1,000.00    1,000.00         10,099.32    LIQUIDBEES
KPIT Technologies Ltd.                        1,139,357      855.45      817.25          9,746.63    KPITTECH
Avenue Supermarts Ltd.                          268,755    3,498.85    3,482.05          9,403.33    DMART

Adani Green Energy Ltd.                       1,217,595      724.25      762.35          8,818.43    ADANIGREEN
Five-Star Business Finance Ltd                1,384,931      603.55      589.05          8,358.75    FIVESTAR
Life Insurance Corporation of                 1,178,262      620.05      613.15          7,305.81    LICI
Piramal Pharma Ltd.                           7,599,031       88.40       89.35          6,717.54    PPLPHARMA
Varun Beverages Ltd.                            453,010    1,271.80    1,273.70          5,761.38    VBL

Yes Bank Ltd.                                29,981,983       17.05       16.85          5,111.93    YESBANK
                                                434,695      999.99      999.99          4,346.91    ICICILIQ
TV Today Network Ltd.                         1,366,775      307.65      308.95          4,204.88    TVTODAY
Bank Of India                                 5,013,857       79.85       80.60          4,003.56    BANKINDIA
Adani Power Ltd.                              2,396,728      164.20      172.80          3,935.43    ADANIPOWER

UNO Minda Ltd.                                  640,687      533.00      525.95          3,414.86    UNOMINDA
                                                191,862    1,698.75    1,683.50          3,259.26    PVR
MTAR Technologies Ltd.                          185,004    1,726.05    1,706.65          3,193.26    MTARTECH
Gland Pharma Ltd.                               235,806    1,314.30    1,301.00          3,099.20    GLAND
Gujarat Fluorochemicals Ltd.                    100,131    2,968.85    3,051.60          2,972.74    FLUOROCHEM

Zensar Technologies Ltd.                      1,121,679      262.40      253.30          2,943.29    ZENSARTECH
Fine Organic Industries Ltd.                     61,067    4,764.05    5,042.90          2,909.26    FINEORG
Suzlon Energy Ltd.                           30,965,094        9.15        9.20          2,833.31    SUZLON
Carborundum Universal Ltd.                      277,478    1,011.80      968.15          2,807.52    CARBORUNIV
Global Health Ltd.                              616,288      454.80      449.95          2,802.88    MEDANTA

Supreme Industries Ltd.                         104,237    2,663.40    2,655.45          2,776.25    SUPREMEIND
Suven Pharmaceuticals Ltd.                      560,584      488.00      491.25          2,735.65    SUVENPHAR
H.G. Infra Engineering Ltd.                     362,806      734.55      687.60          2,664.99    HGINFRA
Ion Exchange (India) Ltd.                        84,019    3,151.30    2,883.90          2,647.69    IONEXCHANG
PG Electroplast Ltd.                            222,690    1,182.55    1,136.95          2,633.42    PGEL

Aarti Pharmalabs Ltd.                           832,969      313.05      315.35          2,607.61    AARTIPHARM
Sula Vineyards Ltd.                             627,458      410.00      398.20          2,572.58    SULA
Equitas Small Finance Bank Ltd                4,282,091       60.05       58.00          2,571.40    EQUITASBNK
                                              1,314,320      195.49      195.89          2,569.36    NIFTYBEES
Indiabulls Real Estate Ltd.                   3,891,172       64.70       62.90          2,517.59    IBREALEST

Nippon Life India Asset Manage                1,120,524      223.50      222.75          2,504.37    NAM-INDIA
Route Mobile Ltd.                               196,510    1,269.80    1,250.00          2,495.28    ROUTE
Triveni Turbine Ltd.                            863,405      280.85      283.85          2,424.87    TRITURBINE
Max Healthcare Institute Ltd.                   553,947      437.40      440.50          2,422.96    MAXHEALTH
Bombay Super Hybrid Seeds Ltd.                  440,990      542.25      516.45          2,391.27    BSHSL

Lemon Tree Hotels Ltd.                        3,074,312       77.00       76.00          2,367.22    LEMONTREE
Campus Activewear Ltd.                          559,689      420.15      394.65          2,351.53    CAMPUS
Jindal Saw Ltd.                               1,650,324      142.00      139.25          2,343.46    JINDALSAW
Tata Teleservices (Maharashtra                3,407,462       66.40       69.25          2,262.55    TTML
                                              1,875,340      120.01      119.80          2,250.60    MID150BEES




                        Top 50 delivery by volume NON FNO  230210

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

Suzlon Energy Ltd.                           30,965,094        9.15        9.20          2,833.31    SUZLON
Zomato Ltd.                                  30,282,280       53.30       54.40         16,140.46    ZOMATO
Yes Bank Ltd.                                29,981,983       17.05       16.85          5,111.93    YESBANK
One97 Communications Ltd.                    24,141,980      650.55      705.95        157,055.65    PAYTM
The South Indian Bank Ltd.                    9,161,126       17.45       17.00          1,598.62    SOUTHBANK

Piramal Pharma Ltd.                           7,599,031       88.40       89.35          6,717.54    PPLPHARMA
FSN E-Commerce Ventures Ltd.                  7,229,478      154.70      151.85         11,184.00    NYKAA
Brightcom Group Ltd.                          6,627,338       25.25       25.95          1,673.40    BCG
UCO Bank                                      5,796,319       28.15       27.60          1,631.66    UCOBANK
Bank Of India                                 5,013,857       79.85       80.60          4,003.56    BANKINDIA

Indian Railway Finance Corpora                4,876,444       30.10       30.10          1,467.81    IRFC
Equitas Small Finance Bank Ltd                4,282,091       60.05       58.00          2,571.40    EQUITASBNK
                                              4,188,876       31.92       32.02          1,337.09    KOTAKIT
Indian Overseas Bank                          4,105,564       27.25       27.20          1,118.77    IOB
Indiabulls Real Estate Ltd.                   3,891,172       64.70       62.90          2,517.59    IBREALEST

CG Power and Industrial Soluti                3,659,616      327.85      311.45         11,998.05    CGPOWER
                                              3,495,114       43.45       43.22          1,518.63    PSUBNKBEES
Tata Teleservices (Maharashtra                3,407,462       66.40       69.25          2,262.55    TTML
NHPC Ltd.                                     3,324,195       40.00       40.75          1,329.68    NHPC
Lemon Tree Hotels Ltd.                        3,074,312       77.00       76.00          2,367.22    LEMONTREE

Dhani Services Ltd.                           2,869,124       37.10       35.55          1,064.45    DHANI
HFCL Ltd.                                     2,821,642       69.40       68.75          1,958.22    HFCL
Union Bank Of India                           2,702,634       73.55       72.55          1,987.79    UNIONBANK
Adani Wilmar Ltd.                             2,672,148      435.90      439.70         11,647.89    AWL
IDBI Bank Ltd.                                2,582,847       49.50       49.95          1,278.51    IDBI

Adani Power Ltd.                              2,396,728      164.20      172.80          3,935.43    ADANIPOWER
Easy Trip Planners Ltd.                       2,219,225       51.55       52.95          1,144.01    EASEMYTRIP
PB Fintech Ltd.                               2,167,048      525.90      510.30         11,396.51    POLICYBZR
Motherson Sumi Wiring India Lt                1,991,930       53.70       52.45          1,069.67    MSUMI
The Jammu & Kashmir Bank Ltd.                 1,933,218       52.30       50.55          1,011.07    J&KBANK

NCC Ltd.                                      1,913,607       93.80       92.90          1,794.96    NCC
                                              1,875,340      120.01      119.80          2,250.60    MID150BEES
Gujarat Pipavav Port Ltd.                     1,859,796      101.55       98.45          1,888.62    GPPL
Pennar Industries Ltd.                        1,803,548       68.00       61.70          1,226.41    PENIND
Rail Vikas Nigam Ltd.                         1,663,483       71.60       72.50          1,191.05    RVNL

Jindal Saw Ltd.                               1,650,324      142.00      139.25          2,343.46    JINDALSAW
Electronics Mart India Ltd.                   1,511,724       76.10       77.75          1,150.42    EMIL
HBL Power Systems Ltd.                        1,470,770      102.85       97.10          1,512.69    HBLPOWER
Devyani International Ltd.                    1,414,020      157.90      159.45          2,232.74    DEVYANI
Five-Star Business Finance Ltd                1,384,931      603.55      589.05          8,358.75    FIVESTAR

TV Today Network Ltd.                         1,366,775      307.65      308.95          4,204.88    TVTODAY
                                              1,314,320      195.49      195.89          2,569.36    NIFTYBEES
Adani Green Energy Ltd.                       1,217,595      724.25      762.35          8,818.43    ADANIGREEN
Life Insurance Corporation of                 1,178,262      620.05      613.15          7,305.81    LICI
KPIT Technologies Ltd.                        1,139,357      855.45      817.25          9,746.63    KPITTECH

Zensar Technologies Ltd.                      1,121,679      262.40      253.30          2,943.29    ZENSARTECH
Nippon Life India Asset Manage                1,120,524      223.50      222.75          2,504.37    NAM-INDIA
                                              1,085,609    2,688.70    2,673.25         29,188.77    HDFC
                                              1,009,932    1,000.00    1,000.00         10,099.32    LIQUIDBEES
Firstsource Solutions Ltd.                    1,004,485      121.15      119.90          1,216.93    FSL




          Top 50 FNO Delivery by value  230210

NSECode          Dely_Qty       Price    PrevClose     Value

RELIANCE                                      2,693,588    2,336.65    2,356.05         62,939.72
INFY                                          3,771,227    1,608.55    1,617.00         60,662.07
ICICIBANK                                     6,024,062      853.85      860.80         51,436.45
HDFCBANK                                      2,693,105    1,657.10    1,650.55         44,627.44
BAJFINANCE                                      636,587    6,435.50    6,455.00         40,967.56

SBIN                                          7,096,623      553.05      550.80         39,247.87
TATASTEEL                                    32,138,717      108.80      111.25         34,966.92
HINDUNILVR                                    1,186,573    2,577.50    2,586.70         30,583.92
TCS                                             859,864    3,537.55    3,540.85         30,418.12
ADANIENT                                      1,423,809    1,846.95    1,925.70         26,297.04

ITC                                           6,841,185      371.35      374.25         25,404.74
ULTRACEMCO                                      343,051    7,206.05    7,179.75         24,720.43
AXISBANK                                      2,753,938      867.25      867.70         23,883.53
TATAMOTORS                                    5,328,366      445.85      436.75         23,756.52
HCLTECH                                       2,078,584    1,115.65    1,146.35         23,189.72

HDFCLIFE                                      4,025,119      522.55      518.65         21,033.26
AMBUJACEM                                     4,998,698      360.80      357.80         18,035.30
KOTAKBANK                                       987,047    1,772.05    1,770.90         17,490.97
BANKBARODA                                   10,187,707      169.30      169.45         17,247.79
IDFC                                         18,527,330       90.80       91.10         16,822.82

SBILIFE                                       1,405,378    1,184.50    1,180.45         16,646.70
LT                                              743,797    2,163.85    2,147.40         16,094.65
HAL                                             649,229    2,402.95    2,408.05         15,600.65
HAVELLS                                       1,286,344    1,200.95    1,234.75         15,448.35
SRF                                             665,144    2,289.40    2,218.35         15,227.81

POWERGRID                                     6,575,054      214.10      212.85         14,077.19
ALKEM                                           421,302    3,292.70    3,230.45         13,872.21
ADANIPORTS                                    2,235,028      583.95      582.30         13,051.45
INDUSINDBK                                    1,081,416    1,161.20    1,163.80         12,557.40
BAJAJFINSV                                      853,042    1,401.75    1,400.25         11,957.52

BHARTIARTL                                    1,520,254      771.95      766.65         11,735.60
NTPC                                          6,965,905      165.00      166.00         11,493.74
MARUTI                                          130,195    8,811.35    8,801.20         11,471.94
VOLTAS                                        1,139,931      849.85      824.55          9,687.70
ASIANPAINT                                      339,778    2,804.60    2,814.60          9,529.41

SUNPHARMA                                       946,421    1,006.60    1,006.80          9,526.67
TITAN                                           380,277    2,468.50    2,462.55          9,387.14
TVSMOTOR                                        860,815    1,075.35    1,049.80          9,256.77
APOLLOHOSP                                      204,464    4,416.25    4,389.30          9,029.64
ASTRAL                                          453,017    1,941.65    2,030.25          8,796.00

HINDALCO                                      1,967,589      433.15      444.55          8,522.61
M&M                                             603,429    1,365.45    1,372.20          8,239.52
MCDOWELL-N                                    1,028,340      780.05      791.90          8,021.57
LUPIN                                         1,087,265      737.15      774.35          8,014.77
PEL                                             897,597      891.00      837.10          7,997.59

LTIM                                            163,530    4,691.60    4,695.65          7,672.17
AUROPHARMA                                    1,631,874      468.85      440.95          7,651.04
HINDPETRO                                     3,208,914      232.80      232.05          7,470.35
ASHOKLEY                                      5,002,037      147.35      148.85          7,370.50
UBL                                             486,917    1,480.75    1,549.75          7,210.02




             Top 50 FNO Delivery by volume  230210

NSECode          Dely_Qty       Price    PrevClose    Value

TATASTEEL                                    32,138,717      108.80      111.25         34,966.92
IDEA                                         24,449,723        7.85        7.85          1,919.30
IDFC                                         18,527,330       90.80       91.10         16,822.82
BANKBARODA                                   10,187,707      169.30      169.45         17,247.79
PNB                                           8,024,435       51.25       51.00          4,112.52

SBIN                                          7,096,623      553.05      550.80         39,247.87
IDFCFIRSTB                                    7,070,390       58.10       58.75          4,107.90
NTPC                                          6,965,905      165.00      166.00         11,493.74
MOTHERSON                                     6,843,743       80.20       79.30          5,488.68
ITC                                           6,841,185      371.35      374.25         25,404.74

POWERGRID                                     6,575,054      214.10      212.85         14,077.19
BEL                                           6,384,844       96.25       95.80          6,145.41
ICICIBANK                                     6,024,062      853.85      860.80         51,436.45
GAIL                                          5,556,143       95.85       95.85          5,325.56
TATAMOTORS                                    5,328,366      445.85      436.75         23,756.52

ASHOKLEY                                      5,002,037      147.35      148.85          7,370.50
AMBUJACEM                                     4,998,698      360.80      357.80         18,035.30
NATIONALUM                                    4,685,404       76.70       78.20          3,593.70
HDFCLIFE                                      4,025,119      522.55      518.65         21,033.26
INFY                                          3,771,227    1,608.55    1,617.00         60,662.07

FEDERALBNK                                    3,280,410      131.45      129.95          4,312.10
L&TFH                                         3,236,725       95.10       93.95          3,078.13
HINDPETRO                                     3,208,914      232.80      232.05          7,470.35
IOC                                           3,031,749       79.80       79.60          2,419.34
COALINDIA                                     2,846,235      211.50      214.55          6,019.79

AXISBANK                                      2,753,938      867.25      867.70         23,883.53
RELIANCE                                      2,693,588    2,336.65    2,356.05         62,939.72
HDFCBANK                                      2,693,105    1,657.10    1,650.55         44,627.44
ONGC                                          2,609,722      146.70      146.20          3,828.46
TATAPOWER                                     2,280,155      204.80      205.50          4,669.76

ADANIPORTS                                    2,235,028      583.95      582.30         13,051.45
BHEL                                          2,183,406       75.40       76.35          1,646.29
HCLTECH                                       2,078,584    1,115.65    1,146.35         23,189.72
SAIL                                          2,031,495       84.55       85.35          1,717.63
HINDALCO                                      1,967,589      433.15      444.55          8,522.61


In [36]:
sorted_df = bse_dely_data.sort_values(by='BSE_Delivery', ascending = False)
sorted_df

     BSE_Code    Date  BSE_Delivery
2285   530557  230210      15805878
1965   524444  230210      12437956
218    532822  230210       8500572
118    532667  230210       8230006
187    532775  230210       7342453
...       ...     ...           ...
3247   542845  230210             1
3809   950497  230210             1
1901   523708  230210             0
3624   590110  230210             0
3165   542020  230210             0

[3844 rows x 3 columns]

In [37]:
m_segment = final_master_file[final_master_file['Segment'] == "SM"]
m_segment

Empty DataFrame
Columns: [Date, Company Name, NSE_Code, BSE_Code, Total_Volume, Total_Delivery, Price, PrevClose, Total_Traded_Value, NSE_Volume, NSE_Delivery, BSE_Volume, BSE_Delivery, Segment]
Index: []

In [38]:
sme_value_50

,Date,Company Name,NSE_Code,BSE_Code,Total_Volume,Total_Delivery,Price,PrevClose,Total_Traded_Value,NSE_Volume,NSE_Delivery,BSE_Volume,BSE_Delivery,Segment
90,230210,Upsurge Seeds Of Agriculture L,USASEEDS,,67200,"56,400",742.75,707.40,418.91,67200.0,56400.0,0.0,0.0,SM
124,230210,Taylormade Renewables Ltd.,541228,541228,620000,"428,000",94.90,90.40,406.17,0.0,0.0,620000.0,428000.0,M
172,230210,Rhetan TMT Ltd.,543590,543590,70000,"32,000",405.25,386.20,129.68,0.0,0.0,70000.0,32000.0,M
111,230210,Waaree Technologies Ltd.,539337,539337,91000,"77,000",150.35,163.75,115.77,0.0,0.0,91000.0,77000.0,M
99,230210,Bodhi Tree Multimedia Ltd.,BTML,543767,96000,"72,000",147.95,146.50,106.52,96000.0,72000.0,0.0,0.0,SM
191,230210,Droneacharya Aerial Innovation,543713,543713,124000,"66,000",156.25,148.85,103.12,0.0,0.0,124000.0,66000.0,M
37,230210,Homesfy Realty Ltd.,HOMESFY,,20400,"17,400",588.65,619.60,102.43,20400.0,17400.0,0.0,0.0,SM
145,230210,Knowledge Marine & Engineering,543273,543273,12000,"8,250","1,202.90","1,159.70",99.24,0.0,0.0,12000.0,8250.0,M
63,230210,Shree Oswal Seeds and Chemical,OSWALSEEDS,,42000,"28,000",324.95,309.50,90.99,42000.0,28000.0,0.0,0.0,SM
32,230210,Frog Cellsat Ltd.,FROG,,50000,"45,200",197.90,204.30,89.45,50000.0,45200.0,0.0,0.0,SM
171,230210,Veerkrupa Jewellers Ltd.,543545,543545,120000,"66,000",133.15,129.35,87.88,0.0,0.0,120000.0,66000.0,M
92,230210,Vital Chemtech Ltd.,VITAL,,87600,"75,600",107.60,105.90,81.35,87600.0,75600.0,0.0,0.0,SM
198,230210,Gensol Engineering Ltd.,GENSOL,542851,10488,"7,752",960.90,953.85,74.49,0.0,0.0,10488.0,7752.0,M
3,230210,All E Technologies Ltd.,ALLETEC,,72000,"57,600",117.15,113.90,67.48,72000.0,57600.0,0.0,0.0,SM
161,230210,Quality RO Industries Ltd.,543460,543460,132000,"62,000",107.80,106.55,66.84,0.0,0.0,132000.0,62000.0,M
197,230210,Earthstahl & Alloys Ltd.,543765,543765,99000,"99,000",63.60,60.60,62.96,0.0,0.0,99000.0,99000.0,MT
66,230210,Phantom Digital Effects Ltd.,PHANTOMFX,,30000,"27,600",210.00,210.00,57.96,30000.0,27600.0,0.0,0.0,SM
83,230210,Swastik Pipes Ltd.,SWASTIK,,63600,"61,200",90.50,91.00,55.39,63600.0,61200.0,0.0,0.0,SM
31,230210,Foce India Ltd.,FOCE,,8400,"7,800",678.30,689.95,52.91,8400.0,7800.0,0.0,0.0,SM
128,230210,Affordable Robotic & Automatio,541402,541402,15200,"14,400",361.95,344.75,52.12,0.0,0.0,15200.0,14400.0,M
179,230210,Trident Lifeline Ltd.,543616,543616,36000,"33,600",151.10,142.00,50.77,0.0,0.0,36000.0,33600.0,M